@import url("./nav-bar/nav-bar.css");
@import url("./hero-banner/hero-banner.css");
@import url("./about-card/about-card.css");
@import url("./footer/footer.css");
@import url("../css/movie-card/movie-card.css");
@import url("../css/forms/contact.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: black;
  font-family: "space grotesk", sans-serif;
  color: white;
}

.pink-color {
  color: rgb(225, 62, 160);
}

.hide {
  display: none;
}

@import url("./nav-bar/nav-bar.css");
@import url("./hero-banner/hero-banner.css");
@import url("./footer/footer.css");

/* ********************* MEDIA QUERIES ******************** */

@media screen and (max-width: 850px) {
  .company-title {
    font-size: 32px !important;
    text-decoration: dotted;
  }

  .nav-item a {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .burger-icon {
    display: block;
    color: white;
    height: 35px;
    width: 35px;
    position: fixed;
    top: 2%;
    right: 5%;
    z-index: 2000;
  }

  .navbar {
  }

  .navbar-list {
    transform: translateX(100%);
    height: calc(100vh - 50px);

    background-color: white;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    width: 100%;
  }

  .mobile-company-title {
    display: block;
  }

  .mobile-company-title {
    color: white;
    text-decoration: none;
    font-size: 32px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .mobile-company-title span {
    color: rgb(225, 62, 160);
  }

  .show-navbar {
    transform: translateX(0);
  }

  .company-title {
    display: none;
  }

  .nav-item {
    margin-top: 50px;
    color: black;
  }

  .mobile-nav {
    /* overflow-y: hidden; */
  }

  .mobile-nav-button {
    color: pink;
  }
}
