.footer {
  width: 100%;
  height: 150px;
  background-color: rgb(225, 62, 160);
  margin: 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-content-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-content-container a {
  text-decoration: none;
  color: inherit;
}
.footer-content-container a:hover {
  text-decoration: none;
  color: rgb(201, 201, 201);
}

.footer-h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.address p {
  margin-top: 10px;
}
.address p:first-child {
  margin-top: 0;
}

.socials {
  display: flex;
  /* gap: 20px; */
}
