.hero {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-slideshow {
  margin: auto;
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.hero-slideshow > div {
  width: 10752px;
  background: url("../../assets/movie-banner.jpg");
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.hero-slideshow .mover {
  animation: moveSlideshow 70s linear infinite;
}
/* .hero-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 30s linear infinite;
} */

@keyframes moveSlideshow {
  100% {
    transform: translateX(-65.125%);
  }
}
