
#movie-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin:auto;
    width:89%;
    margin-bottom: 30px;
    
}

.movie-card{
    position: relative;
    cursor: pointer;
    border:solid 5px rgb(225, 62, 160);
    z-index:0;  
}


.movie-modal {
    width: 600px;
    height: 800px;
    background-color: pink;
    z-index: 3000;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}

.show {
    display: block;
}

@media (max-width: 1059px){

#movie-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin:auto;
    width:75%;
    margin-bottom: 30px;
}

.movie-card{
    cursor: pointer;
    border:solid 5px rgb(225, 62, 160)   
}
    
}


