#movie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: auto;
  width: 89%;
  margin-bottom: 184px;
}

.movie-card {
  position: relative;
  cursor: pointer;
  /* border: solid 5px rgb(225, 62, 160); */
  z-index: 0;
}

.movie-modal {
  cursor: auto;
  width: 90%;
  height: 75%;
  background-color: black;
  /* color: white; */
  z-index: 3000;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movie-modal h2 {
  margin-top: 100px;
}

.movie-modal * {
  width: 50%;
  margin: auto;
  display: flex;
  font-family: Arial, sans-serif;
  color: white;
  /* margin: 10px; */
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.close-modal {
  cursor: pointer;
  background-color: rgb(225, 62, 160);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(255, 92, 92, 0.5);
  margin: auto;
  margin-top: 50px;
}

.close-modal:hover {
  background-color: rgb(183, 53, 131);
}

.show {
  display: block;
}

@media (max-width: 1059px) {
  #movie-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin: auto;
    width: 95%;
    margin-bottom: 30px;
  }

  .movie-card {
    position: relative;
    cursor: pointer;
    border: solid 5px rgb(225, 62, 160);
    z-index: 0;
    /* background-color: blue; */
    height: 100%;
  }

  .movie-modal * {
    font-size: 15px;
  }

  .show {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .movie-modal {
    /* transform: translate(0); */
    height: 100%;
    top: 50%;
  }
}
