/* #movie-cards{
    display:;
    grid-template-rows: 2;
    grid-template-columns: 2;


} */
#movie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: auto;
  width: 90%;
  margin-bottom: 30px;
  border: solid 3px white;

  /* grid-template-rows: 2fr */
}
.movie-card {
  cursor: pointer;
}

#poster {
  width: 700px;
}
